<div class="statics-wrapper">
	<div class="about-content-wrapper">
		<h1 class="heading-lined heading-lined--primary">About Tech Maturity</h1><br>
		<div class="about-left-pane">
			<h1 class="text-center"><b>Getting to Innovation Faster</b></h1><br>
			<p >Tech Maturity is an open source portal that measures the progress and maturity of their product allowing companies of any size to:</p>
			<ul>
				<li>Spend more time innovating, and less time being “busy” with repetitive, manual tasks</li>
				<li>Use a common set of standards to drive business results</li>
				<li>Increase visibility for better decision making</li>
				<li>Gravitate towards consistency across teams and products</li>
				<li>Use standard components over custom-built solutions</li>
				<li>Invest in fixing root causes and not just the symptoms</li>
			</ul>	
			<p class="text-justify">Tech Maturity helps us identify growth opportunities to eliminate waste, set clearly defined targets, and measure progress all while we work toward the ultimate goal of continuous delivery.</p>
			<p class="text-justify">The model charts a clear path that can be completed in stages and allows flexibility for progressing through five key dimensions of software development: Code, Build & Test, Release, Operate, and Optimize.</p>
			<p class="text-justify">The model can serve as a “cloud readiness” gauge that quantifies how close a product is to being ready for migration. This is achieved by establishing targets for a subset of capabilities that define the minimum requirements for any product or service in the public cloud. This gives teams who own legacy products a clear goal to work toward that they can easily track. It also lets an organization operate in a decentralized, self-service way so that teams can run with their migrations without delay.</p>
			<p class="text-justify">You can’t tell if you’re winning without a scoreboard, so we created a portal to gather, aggregate, and display patterns from the data assembled and made it visible to everyone in the company. Strategically, Tech Maturity provides a key indicator of our performance so that we can continually make value-driven improvements.</p>
			<p class="text-justify">The best thing about our model is that it does not prescribe solutions. Rather, it offers standards with an aim to give teams a clear path towards efficient product development at scale. The model can be easily tailored to meet your specific needs, and has been successfully applied to products ranging from legacy systems to modern JavaScript libraries. It’s a great vehicle for sharing and rallying around a common vision</p>
			<p class="text-justify">We’re excited to see the response from the community, and are thrilled to share this tool with others.</p>
			<div class="video-wrapper text-center">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/LLAg_LxuBzM" frameborder="0" allowfullscreen></iframe>
			</div>
			<br><br>

			<h1 class="text-center"><b>Frequently Asked Questions</b></h1><br><br>

			<h3 id="question1" class="about-header"><b>What is Tech Maturity?</b></h3><br>
			<p class="text-justify">Tech Maturity values automation, repeatability, and visibility over manual, repetitive tasks. The Tech Maturity model represents a set of standards for product delivery teams to target as part of feature development. When teams de-prioritize these standards, they accept the risk of paying “tax” later in the form of fighting fires, longer release cycles, and limited visibility into the health and performance of the product. By investing time to remove these distractions from occurring in the first place, teams find that they have more time to put towards what they love most...building awesome products that delight our clients and fans!</p>
			<p class="text-justify">Simply put, Tech Maturity helps teams identify growth opportunities for their products by eliminating waste, prepare for the AWS migration, and “level up” to the ultimate goal: continuous delivery.</p>

			<h3 id="question2" class="about-header"><b>How can an organization use this data to drive innovation?</b></h3><br>
			<p class="text-justify">Tech Maturity represents the prioritization of where we want to be as a tech company. We use this data to gain insight and visibility into our product portfolio and infrastructure footprint so we can make data-based decisions around strategic investments that “level up” maturity across the company.</p>
			<p class="text-justify">Teams self-assess their products to determine growth opportunities and set goals to achieve them. Based on the scores, products are given a “cloud readiness” rating and teams use the data to help inform their roadmap eg. list of items to address in preparation for migrating off on-prem infrastructure to the public cloud. </p><br>

			<h3 id="question3" class="about-header"><b>How can teams use this data?</b></h3><br>
			<p class="text-justify">Convincing a Product or Business Owner why time should be prioritized towards initiatives that are often considered "tech tasks" can be difficult, especially when unarmed with the facts. The Tech Maturity model is designed to be a communication tool for teams to quantify value and justify the work needed to improve their technology.</p>
			<p class="text-justify">Equipped with this data, you can now negotiate for prioritization by using the argument “if we invest X amount of time improving our test suite, we will get back the X amount of time wasted on manual tests every release." Now, that’s a compelling argument anyone can get behind!</p><br>

			<h3 id="question4" class="about-header"><b>How was the Tech Maturity model created?</b></h3><br>
			<p class="text-justify">During a large scale migration project, we took note of the patterns that made deploying to a new environment challenging for many teams. We ended up creating a punch list of barriers preventing teams from achieving continuous delivery. During initial research, we found that the existing models didn’t address the pain points felt by most teams, so...we created our own!</p><br>

			<h3 id="question5" class="about-header"><b>What does the “cloud readiness” score mean?</b></h3><br>
			<p class="text-justify">The gauge indicates the cloud readiness of the product in reference to the minimum capabilities we feel are required to run natively in the public cloud. Teams can prepare for running efficiently in the public cloud by bringing their score up to 100%.</p><br>

			<h3 id="question6" class="about-header"><b>What is considered a “product” in Tech Maturity?</b></h3><br>
			<p>Here’s how we think about Products:<br><br>
			<b>Product:</b><br>
			<p>Product (product line / product family) is a marketable entity that delivers the primary investment or business value.</p>
			<b>Component:</b><br>
			<p>Component is a service or major component within the product line / marketable product that powers and enables its clients to use the product functionality or features e.g. input and output endpoints.</p><br>
			<b>Subcomponent:</b><br>
			<p>Subcomponent is a deployable package, if the component breaks down into multiple packages, or the underlying data services or data stores that fuel or support the components e.g. database.</p><br>

			<h3 id="question7" class="about-header"><b>How do I contribute to the open source project?</b></h3><br>
			<p class="text-justify"><a href="<%= github_path %>">Visit our GitHub project </a>for more information on how you can get started and contribute. Have any questions or want to know how you can help? We'd love to <a href="<%= contact_path %>">hear from you!</a></p><br>

			<h3 id="question8" class="about-header"><b>Suggestions / Feedback</b></h3><br>
			<p>We’d love to hear from you! Reach out to us <a href="<%= contact_path %>">here</a></p>
			
		</div>
		<div class="about-right-pane">
			<ul>
				<li><a href="#question1">What is Tech Maturity?</a></li>
				<li><a href="#question2">How can an organization use this data to drive innovation?</a></li>
				<li><a href="#question3">How can teams use this data?</a></li>
				<li><a href="#question4">How was the Tech Maturity model created?</a></li>
				<li><a href="#question5">What does the “cloud readiness” score mean?</a></li>
				<li><a href="#question6">What is considered a “product” in Tech Maturity?</a></li>
				<li><a href="#question7">How do I contribute to the open source project?</a></li>
				<li><a href="#question8">Suggestions / Feedback</a></li>
			</ul>
			<br>
			
		</div>
	</div>
</div>
